---
- hosts: cento
  user: vagrant
  become: yes # user = root
  vars:
    ruby_version: "2.3.1"
    host_ip: "192.168.33.10"
  tasks:
    - name: yum update
      yum: name=* state=latest
    #- name: Install kernel-devel
    #  yum: name=kernel-devel state=latest
    #- name: Install gcc
    #  yum: name=gcc state=latest
    - name: install nginx repository
      yum: name=http://nginx.org/packages/centos/7/noarch/RPMS/nginx-release-centos-7-0.el7.ngx.noarch.rpm state=present
    - name: install nginx
      yum: name=nginx state=present
      #notify: start nginx

    - name: stop firewalld
      service: name=firewalld state=stopped

    - name: put conf.d/original.conf
      template: src=templates/original.conf dest=/etc/nginx/conf.d/original.conf
    - name: rename default.conf
      command: mv /etc/nginx/conf.d/default.conf /etc/nginx/conf.d/_default.conf.bk removes=/etc/nginx/conf.d/default.conf

    - name: install rbenv
      become: no
      git: repo=git://github.com/sstephenson/rbenv.git
           dest=~/.rbenv

    - name: put custom bash_profile
      become: no
      template: src=templates/.bash_profile dest=~/

    - name: source ~/.bash_profile
      become: no
      shell: source ~/.bash_profile

    - name: install ruby-build
      become: no
      git: repo=git://github.com/sstephenson/ruby-build.git
           dest=~/.rbenv/plugins/ruby-build

    - name: install packages to install ruby
      yum: name={{ item }} state=present
      with_items:
        - openssl-devel
        - readline-devel
        - zlib-devel
        - sqlite-devel # to use sqlite3

    - name: install ruby
      become: no
      shell: ~/.rbenv/bin/rbenv install -s {{ ruby_version }}; ~/.rbenv/bin/rbenv rehash; ~/.rbenv/bin/rbenv global {{ ruby_version }}

    - file: path=/var/www state=directory mode=0777

    - name: put /var/www/deploy_test/shared/config/database.yml
      template: src=templates/database.yml dest=/var/www/deploy_test/shared/config/database.yml
    - name: put /var/www/deploy_test/shared/config/secrets.yml
      template: src=templates/secrets.yml dest=/var/www/deploy_test/shared/config/secrets.yml

    - name: install epel repository
      yum: name=epel-release state=present
    - name: yum update # update epel repo
      yum: name=* state=latest
    - name: install nodejs
      yum: name=nodejs state=present

    - name: put selinux file to set selinux Permissive
      template: src=templates/selinux dest=/etc/sysconfig/selinux

    - name: update glibc
      yum: name=glibc state=latest

    - name: restart machine
      shell: sleep 2 && shutdown -r now "Ansible updates triggered"
      async: 1
      poll: 0
      ignore_errors: true

    - name: waiting for server to come back
      become: no
      local_action: wait_for host={{ host_ip }} state=started delay=10 timeout=100

    - name: start nginx
      service: name=nginx state=started


  #handlers:
  #  - name: start nginx
  #    service: name=nginx state=started
